{% extends "base2.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Epreuves 
{% endblock title %}

{% block styles %}
    <style>
        .invalid-feedback{
            margin-bottom: 15px;
        }
        .form_text{
            margin-top: 15px;
        }
    </style>
{% endblock styles %}

{% block content %}
<div class="container">
    <div class="title my-3">
        <h1 class="text-center">
            <p>
                {{form_title}}
            </p>
            <hr>
        </h1>
    </div>
</div>

<div class="container  my-5">
        <div class="row justify-content-center">
            <div class="card p-0 col-md-8 col-sm-10 col-xm-12">
                <div class="card-header {{card_color }}">
                    {{form_card_title}}
                </div>
                <div class="card-body">
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% for item in form %}
                            <div class="mb-4">
                                {{item|as_crispy_field}}
                            </div>
                        {% endfor %}
                        
                       <button type="submit" class="btn btn-success">
                             {{submit_text }} 
                       </button>
                    </form>
                </div>
                <div class="card-footer {{card_color}}">

                </div>
            </div>
        </div>
</div>
{% endblock content %}  

{% block scrypts %}
  
{% endblock scrypts %}